<section >
  <div class="container">

    <div class="row" style="background-color:  #F1F5F9;">
      <div class="col-md-6 float-right ">
        <i class="fa fa-tachometer cardfaicon" style="color: #CCD6DD;"></i>
        <span class="heading-section ml-3">Permission</span>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-2 mt-2">
        <button class="btn bg bg-white">Dropdown<i class="fa fa-home"></i></button>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table table-responsive-xl bg bg-white" >
            <thead style="color: #64748B;">
              <tr style="background-color: #F8FAFC;;">

                <th>Item Name</th>
                <th>View</th>
                <th>Editable</th>
                <th>Permitted</th>

              </tr>
            </thead>
            <tbody>
              <tr class="alert" role="alert">

                <td class="d-flex align-items-center">
                  <div class="pl-3 email">

                    <span> <i class="fa fa-folder mr-2"></i><b>Account Setting</b></span>
                  </div>
                </td>
                <td class=" align-items-center">	<div class=" email">
                  <span><input type="radio"></span>

                </div></td>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><input type="radio"></span>
                </div>
              </td>
              <td class=" align-items-center">	<div class="pl-3 email">
                <span><input type="radio"></span>
              </div>



              </tr>

            </tbody>

          </table>
        </div>
      </div>
    </div>

  </div>

</section>
