 <div class="d-flex flex-column flex-shrink-0   leftmenucolor" style="width: 100px;background-color: #64748B !important;border-top-right-radius: 50px;border-bottom-right-radius: 50px;margin-top: 45px !important;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" style="    height: 600px;">
      <li class="nav-item"> <a routerLink="/room" [routerLinkActive]="['active']" class="nav-link  py-3 border-bottom"> <i class="fa fa-home"></i> <small>Room</small> </a> </li>
      <li> <a routerLink="/admin" [routerLinkActive]="['active']" class="nav-link  py-3 border-bottom"> <i class="fa fa-first-order"></i> <small>Admin</small> </a> </li>
      <li> <a routerLink="/test" [routerLinkActive]="['active']" class="nav-link  py-3 border-bottom"> <i class="fa fa-cog"></i> <small> Board</small> </a> </li>

  </ul>
</div>


 <!-- <nav id="sidebar" class="active">
  <h1><a href="index.html" class="logo">M.</a></h1>
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <a href="#"><span class="fa fa-home"></span> Home</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-user"></span> About</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-cogs"></span> Services</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
    </li>
  </ul>

  <div class="footer">
    <p>
      Copyright ©<script>document.write(new Date().getFullYear());</script>2022 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
    </p>
  </div>
</nav> -->
