<div class="container " style="background-image: url(.../../../../../../assets/Images/admintitle.jpg);height: 108px; border-radius: 16px;">
<h1 class="text-light">Administration</h1>
<h4  class="text-light">SubTitle</h4>
</div>
<div class="container mt-3">
  <div class="col-md-4 float-left">
    <div class="card" style="width: 16rem;border-radius: 10px;">
      <i class="fa fa-envelope cardfaicon"></i>
      <div class="card-body" style="background-color: #F1F5F9;">
       <a routerLink="/applicantStatus"> <h5 class="card-title"><b>Application Status</b></h5></a>
        <p class="card-text">Some quick example</p>
      </div>
    </div>
</div>
<div class="col-md-4 float-left">
  <div class="card" style="width: 16rem; border-radius: 10px;">
    <i class="fa  fa-search cardfaicon"></i>
    <div class="card-body" style="background-color: #F1F5F9;">
      <a routerLink="/report"><h5 class="card-title"><b>Report</b></h5></a>
      <p class="card-text">Some quick example</p>
    </div>
  </div>
</div>
<div class="col-md-4 float-left">
  <div class="card" style="width: 16rem; border-radius: 10px;">
    <i class="fa fa-window-maximize cardfaicon" style="color: #854836;"></i>
    <div class="card-body" style="background-color: #F1F5F9;">
      <a routerLink="/room"><h5 class="card-title"><b>Room Management</b></h5></a>
      <p class="card-text">Some quick example</p>
    </div>
  </div>
</div>
<div class="col-md-4 float-left mt-4">
  <div class="card" style="width: 16rem; border-radius: 10px;">
    <i class="fa fa-tachometer cardfaicon" style="color: #CCD6DD;"></i>
    <div class="card-body" style="background-color: #F1F5F9;">
      <a routerLink="/permission" > <h5 class="card-title"><b>Permission</b></h5></a>
      <p class="card-text">Some quick example</p>
    </div>
  </div>
</div>
<div class="col-md-4 float-left mt-4">
  <div class="card" style="width: 16rem; border-radius: 10px;">
    <i class="fa fa-users cardfaicon" style="color: #226699;"></i>
    <div class="card-body" style="background-color: #F1F5F9;">
     <a routerLink="/userMangement"> <h5 class="card-title"><b>User Management</b></h5></a>
      <p class="card-text">Some quick example</p>
    </div>
  </div>
</div>
<div class="col-md-4 float-left mt-4">
  <div class="card" style="width: 16rem; border-radius: 10px;">
    <i class="fa fa-calendar cardfaicon" style="color: #FEE7B8;"></i>
    <div class="card-body" style="background-color: #F1F5F9;">
      <h5 class="card-title"><b>Daily Schedule</b></h5>
      <p class="card-text">Some quick example</p>
    </div>
  </div>
</div>
</div>



