/* body, html
{
  width:1000px;
   height:"70%";
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}
.signbtn{
  background: #10B981;
  border-radius: 8px;
}
.triangle-bottomright {
  width: 213px;
    height: 987px;
    border-bottom: 630px solid white;
    border-left: 191px solid transparent;
    position: absolute;
    top: 15%;
    left: 82%;
    transform: translate(-51%, -50%);
}



.parallelogram {


transform: skew(-10deg);
background-color: white;
}
.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centeredone{
  position: absolute;
  top: 20%;
  left: 42%;
  transform: translate(-50%, -50%);
  Font-size: 20px;
}
.lbltext{
 font-weight:500;
  Font-size: 42px;
  line-height: 72px;
  line-height: 99%;
  letter-spacing: -4%;
}
.hide {
  display: none;
}
.inner-addon {
    position: relative;
}
.inner-addon .far {
  position: absolute;
  padding: 10px 30px;
  z-index: 100;
  cursor: pointer;
}
.right-addon .far { right: 0px; left: 87%; }

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; } */

