

<div class="row">
  <div class="col-md-6">
    <img width="100%" height="70%" src="../../../assets/Images/c0014ca487850330002101d95ad44a7b.jpg">
    <label  class="centered text-white lbltext">Wonderful and Grateful</label>
    <label class="centeredone text-white mt-1">Room Booking System</label>
    <div class="triangle-success"></div>
  </div>
    <div class="col-md-4  ml-3 text-center">
      <form  class="register-form" id="register-form">
        <i class="fa fa-hand-o-right circleicon"  aria-hidden="true"></i>
          <h5 style="color:#475569" class="mt-2 ml-1">Success</h5>
          <p style="font-weight:600;font-size: 14px;color: #94A3B8;">Your account is created</p>
              <a routerLink="/login" class="btn btn-lg w-100 signbtn text-white mt-3">Go to main page</a>
        </form>
  </div>
</div>



