

<div class="row">
  <div class="col-md-6">
    <img width="100%" height="70%" src="../../../assets/Images/c0014ca487850330002101d95ad44a7b.jpg">
    <label  class="centered text-white lbltext">Wonderful and Grateful</label>
    <label class="centeredone text-white mt-1">Room Booking System</label>
    <div class="triangle-bottomright "></div>
  </div>

    <div class="col-md-4 mt-5 ml-3">
      <form  class="register-form" id="register-form">

          <h5 style="color:#475569" class="mt-5">Register</h5>
          <p style="font-weight:600;font-size: 14px;color: #94A3B8;">Create Your Credentials</p>
          <label for="email">Create Email</label>
          <div class="form-group">
              <input class="form-control" type="email" name="username" placeholder="Your email address" id="email" />
          </div>
          <label for="Password">Create Password</label>
          <div class="form-group inner-addon right-addon">
            <div class="input-group ">
              <input name="password" [type]="showPassword ? 'text' : 'password'" class="form-control pwd-control" id="password-field" placeholder="Your Password">
              <div>
                <i alt="show" class="far fa fa-eye eye-show"
                   (click)="showPassword = !showPassword"
                   [class.hide]="showPassword"></i>
                <i alt="hide" class="far fa-eye-slash eye-hide"
                   (click)="showPassword = !showPassword"
                   [class.hide]="!showPassword"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-7">
              <input type="checkbox"> Remember Me
            </div>

          </div>
              <a routerLink="/registeraccountmessage" class="btn btn-lg w-100 signbtn text-white mt-3">Register</a>
        </form>

  </div>
</div>

