<section >
  <div class="container">

    <div class="row" style="background-color:  #F1F5F9;">
      <div class="col-md-6 float-right ">
        <i class="fa fa-envelope cardfaicon" style="color: #99AAB5;"></i>
        <span class="heading-section ml-3">Applicant Status</span>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table table-responsive-xl bg bg-white" >
            <thead style="color: #64748B;">
              <tr style="background-color: #F8FAFC;;">
                <th> <input type="checkbox" checked></th>
                <th>Room</th>
                <th>Event Date</th>
                <th>Group</th>
                <th>App. Date</th>
                <th>Applicant</th>
                <th>Contact</th>
                <th>Status</th>
                <th>Apprvl Date</th>
              </tr>
            </thead>
            <tbody>
              <tr class="alert" role="alert">
                <td>
                  <label class="checkbox-wrap checkbox-primary">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="d-flex align-items-center">
                  <div class="pl-3 email">
                    <span><b>T1</b></span>
                  </div>
                </td>
                <td class=" align-items-center">	<div class=" email">
                  <span><b>01/01/2021-01/01/2022</b></span>
                  <span  class="tabledata">Every WED,Repeat 12 times</span>
                </div></td>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><b>Team Issac</b></span>
                </div>
              </td>
              <td class=" align-items-center">	<div class="pl-3 email">
                <span><b>29/01/2022</b></span>
              </div>
              <td class=" align-items-center">	<div class="pl-3 email">
                <span><b>Catherine Wong</b></span>
              </div>
            </td>
            <td class=" align-items-center">	<div class="pl-3 email">
              <span><b>9876-5432</b></span>
              <span  class="tabledata">abc@gmail.com</span>
            </div></td>
            <td class="status"><button class="btn btn-sm btn btn-success rounded">Approved</button></td>
            <td class=" align-items-center">	<div class="pl-3 email">
              <span><b>29/01/2022</b></span>
            </div>
          </td>
              </tr>
              <tr class="alert" role="alert">
                <td>
                  <label class="checkbox-wrap checkbox-primary">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="d-flex align-items-center">
                  <div class="pl-3 email">
                    <span><b>T1</b></span>
                  </div>
                </td>
                <td class=" align-items-center">	<div class=" email">
                  <span><b>01/01/2021-01/01/2022</b></span>
                  <span  class="tabledata">Every WED,Repeat 12 times</span>
                </div></td>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><b>Team Issac</b></span>
                </div>
              </td>
              <td class=" align-items-center">	<div class="pl-3 email">
                <span><b>29/01/2022</b></span>
              </div>
              <td class=" align-items-center">	<div class="pl-3 email">
                <span><b>Catherine Wong</b></span>
              </div>
            </td>
            <td class=" align-items-center">	<div class="pl-3 email">
              <span><b>9876-5432</b></span>
              <span  class="tabledata">abc@gmail.com</span>
            </div></td>
            <td class="status"><button class="btn btn-sm btn btn-success rounded">Approved</button></td>
            <td class=" align-items-center">	<div class="pl-3 email">
              <span><b>29/01/2022</b></span>
            </div>
          </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="container bg bg-white">
<div class="col-md-8 float-left">
<button class="ml-3">Status</button>
<button class="btn btn-lg btn-light m-2">Approved</button>
<button class="btn btn-lg btn-light m-2">Pending</button>
<button class="btn btn-lg btn-light m-2">Rejected</button>
</div>
<div class="col-md-4 float-left mt-2">
<form class="form-inline">
  <label class="sr-only" for="inlineFormInputGroupUsername2">Search</label>
  <div class="input-group  ">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-search"></i></div>
    </div>
    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search">
  </div>
</form>
</div>
  </div>
</section>
