

<div class="row">
  <div class="col-md-6">
    <img width="100%" height="70%" src="../../../assets/Images/c0014ca487850330002101d95ad44a7b.jpg">
    <label  class="centered text-white lbltext">Wonderful and Grateful</label>
    <label class="centeredone text-white mt-1">Room Booking System</label>
    <div class="triangle-bottomright "></div>
  </div>

    <div class="col-md-4 mt-5 ml-3">
      <form  class="register-form" id="register-form">

          <h5 style="color:#475569" class="mt-5">Reset</h5>
          <p style="font-weight:600;font-size: 14px;color: #94A3B8;">Create new password</p>

          <label for="Password">Password</label>
          <div class="form-group inner-addon right-addon">
            <div class="input-group ">
              <input name="password"  class="form-control pwd-control" id="password-field" placeholder="Your Password">

            </div>
          </div>
          <label for="Password">Confirm your Password</label>
          <div class="form-group inner-addon right-addon">
            <div class="input-group ">
              <input name="password"  class="form-control pwd-control" id="password-field" placeholder="Your Password">
            </div>
          </div>
              <a routerLink="/resetpasswordmessage" class="btn btn-lg w-100 signbtn text-white mt-3">Change</a>
        </form>

  </div>
</div>


