
<!-- <div style="background-image: url(.../../../../../../assets/Images/backgroundimage.png);width: 100%;" >

    <app-topbar></app-topbar>

      <router-outlet></router-outlet>

  <app-leftmenu></app-leftmenu>
</div>
 -->
 <div class="wrapper d-flex align-items-stretch" style="background-image: url(.../../../../../../assets/Images/backgroundimage.png);">
  <app-leftmenu></app-leftmenu>
   <div id="content" class="">
    <app-topbar></app-topbar>
    <router-outlet></router-outlet>
   </div>
 </div>





