<!-- <div class="container " style="background-image: url(.../../../../../../assets/Images/admintitle.jpg);height: 108px; border-radius: 16px;">
  <h1 class="text-light">Room Management</h1>
  <h4  class="text-light">SubTitle</h4>
  </div> -->
  <section >
		<div class="container">

			<div class="row" style="background-color:  #F1F5F9;">
				<div class="col-md-6 float-right ">
          <i class="fa fa-window-maximize cardfaicon" style="color: #854836;"></i>
					<span class="heading-section ml-3">Room</span>
				</div>
        <div class="col-md-3"></div>
        <div class="col-md-3 float-left mt-3">
          <button class="btn btn-sm btn-light">All</button>
          <button class="btn btn-sm btn-light">MTC</button>
          <button class="btn btn-sm btn-light">EDC</button>
          <button class="btn btn-sm btn-primary">TC</button>
        </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-responsive-xl bg bg-white" >
						  <thead style="color: #64748B;">
						    <tr style="background-color: #F8FAFC;;">
						    	<th> <input type="checkbox" checked></th>
						    	<th>Room</th>
						      <th>Loc</th>
						      <th>C.Room</th>
						      <th>Ins</th>
                  <th>Type</th>
						      <th>Status</th>
						      <th>Effective Date</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>
						      <td class="d-flex align-items-center">
						      	<div class="img" style="background-image: url(../../../../assets/Images/user.jpg);"></div>
						      	<div class="pl-3 email">
						      		<span><b>T1</b></span>
						      		<span class="tabledata">Capacity:50 ppl</span>
						      	</div>
						      </td>
						      <td class=" align-items-center">	<div class="pl-3 email">
                    <span><b>Zone A</b></span>
                    <span  class="tabledata">Truth Cen</span>
                  </div></td>
                  <td class=" align-items-center">	<div class="pl-3 email">
                    <span><b>T2</b></span>
                    <span  class="tabledata">Comb.Rm</span>
                  </div>
                </td>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><b>Piono</b></span>
                  <span ><b>Chair</b></span>
                </div>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><b>New Ts.</b></span>
                </div>
              </td>
              <td class="status"><button class="btn btn-sm btn btn-success rounded">On use</button></td>
                  <td class="status"><span ><b>10/10/2019-01/01/2022</b></span></td>

						    </tr>
                <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>
						      <td class="d-flex align-items-center">
						      	<div class="img" style="background-image: url(../../../../assets/Images/user.jpg);"></div>
						      	<div class="pl-3 email">
						      		<span><b>T1</b></span>
						      		<span class="tabledata">Capacity:50 ppl</span>
						      	</div>
						      </td>
						      <td class=" align-items-center">	<div class="pl-3 email">
                    <span><b>Zone A</b></span>
                    <span  class="tabledata">Truth Cen</span>
                  </div></td>
                  <td class=" align-items-center">	<div class="pl-3 email">
                    <span><b>T2</b></span>
                    <span  class="tabledata">Comb.Rm</span>
                  </div>
                </td>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><b>Piono</b></span>
                  <span ><b>Chair</b></span>
                </div>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><b>New Ts.</b></span>
                </div>
              </td>
						      <td class="status"><button class="btn btn-sm btn btn-success rounded">On use</button></td>
                  <td class="status"><span ><b>10/10/2019-01/01/2022</b></span></td>

						    </tr>
                <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>
						      <td class="d-flex align-items-center">
						      	<div class="img" style="background-image: url(../../../../assets/Images/user.jpg);"></div>
						      	<div class="pl-3 email">
						      		<span><b>T1</b></span>
						      		<span class="tabledata">Capacity:50 ppl</span>
						      	</div>
						      </td>
						      <td class=" align-items-center">	<div class="pl-3 email">
                    <span><b>Zone A</b></span>
                    <span  class="tabledata">Truth Cen</span>
                  </div></td>
                  <td class=" align-items-center">	<div class="pl-3 email">
                    <span><b>T2</b></span>
                    <span  class="tabledata">Comb.Rm</span>
                  </div>
                </td>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><b>Piono</b></span>
                  <span ><b>Chair</b></span>
                </div>
                <td class=" align-items-center">	<div class="pl-3 email">
                  <span><b>New Ts.</b></span>
                </div>
              </td>
              <td class="status"><button class="btn btn-sm btn btn-success rounded">On use</button></td>
                  <td class="status"><span ><b>10/10/2019-01/01/2022</b></span></td>

						    </tr>
						  </tbody>

						</table>
					</div>
				</div>
			</div>

		</div>
    <div class="container">
 <div class="col-md-8 float-left">
  <button class="ml-3">Status</button>
<button class="btn btn-lg btn-light m-2">On Use</button>
<button class="btn btn-lg btn-light m-2">Changed</button>
<button class="btn btn-lg btn-light m-2">Cancelled</button>
<button class="btn btn-lg btn-light m-2">Empty</button>
 </div>
 <div class="col-md-4 float-left mt-2">
  <form class="form-inline">
    <label class="sr-only" for="inlineFormInputGroupUsername2">Search</label>
    <div class="input-group  ">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fa fa-search"></i></div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search">
    </div>
  </form>
</div>
    </div>
	</section>

<!-- this is for Room Modal -->
<!-- Button trigger modal -->
<a class="fixedButton" title="Contact Us"  data-toggle="modal" data-target="#exampleModal"
style="cursor: pointer;">
<div class="roundedFixedBtn"><i class="fa fa-plus"></i></div>
</a>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
       <div class="col-md-12">

           <h5><b>Room Name</b></h5>
           <p><b class="formlabel">Fill in Room Name</b></p>
           <input  class="form-control" type="text" placeholder="Room Name">
<hr>
<h5><b>Room Zone</b></h5>
<p ><b class="formlabel">Select Room Zone</b></p><br>
<button class="btn btn-lg btn-light m-1">A</button>
<button class="btn btn-lg btn-light m-1">B</button>
<button class="btn btn-lg btn-light m-1">C</button>
<button class="btn btn-lg btn-light m-1">D</button>
<button class="btn btn-lg btn-light m-1">E</button>
<button class="btn btn-lg btn-light m-1">F</button>
<button class="btn btn-lg btn-light m-1">G</button>
<hr>
<h5><b>Room Status</b></h5>
<p><b class="formlabel">Select Room Status</b></p><br>
<button class="btn btn-md m-1" style="background-color: #ECFDF5;">On Use</button>
<button class="btn btn-md m-1" style="background-color: #E8EDFB;">Changed</button>
<button class="btn btn-md m-1" style="background-color: #FEE2E2;">Cancelled</button>
<button class="btn btn-md m-1" style="background-color: #FFFBEB;">Inactive</button>
<hr>
<h5><b>Effective date</b></h5>
<p><b class="formlabel">Set effective date range</b></p>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <input type="date" class=" form-control" placeholder="start Date" for="inlineRadio1">
</div>
<div class="form-check form-check-inline">
  <input type="date" class=" form-control" placeholder="End Date" for="inlineRadio1">
</div><br>
<div class="form-check form-check-inline mt-2">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2"><b>Effective until stop</b></label>
</div>
<hr>
<h5><b>Ending Time</b></h5>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"><b>In</b>
  <div class="form-group col-md-3 mt-2">
    <input type="text" class=" form-control" placeholder="12" for="inlineRadio1">
  </div><b>Times</b>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"><b>until</b>
  <div class="form-group col-md-4 mt-2">
    <input type="text" class=" form-control" placeholder="Ending Date" for="inlineRadio1">
  </div>
</div>
<hr>
      </div>
    </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
